@import "./index.module.scss";

.course_tabs {
  padding: 50px 0;
  background-color: $body-bg-color;
  color: $color-primay;
  font-size: $p-font;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
  width: 100%;
  .inner_container {
    h2 {
      text-align: center;
    }
    .underline {
      width: 23%;
      // background-color: blueviolet;
      // height: 5px;
      // margin: 0px auto 50px auto;
      // border-radius: 10px;
    }
  }
  .tabs {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    button {
      width: 150px;
    }
    button::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width 0.3s;
    }
    button:hover::after {
      width: 100%;
    }
    .active {
      padding: 5px 0px;
      background-color: #fff;
      color: #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: $p-font;
    }
    // .active::after {
    //   content: "";
    //   display: block;
    //   width: 0;
    //   height: 2px;
    //   background: #000;
    //   transition: width 0.3s;
    // }
    // .active:hover::after {
    //   width: 100%;
    // }
  }
}

.comapanies {
  border-bottom: 2px solid #fff;
  padding: 70px 0;
  .companies_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    .companies_flex_left {
      width: 52%;
      display: flex;
      align-items: center;
      .inner_companies_flex_left {
        display: flex;
        column-gap: 30px;
        font-size: 50px;
        margin-top: 20px;
        div {
          border: 1px solid #fff;
          background-color: #fff;
          padding: 20px;
          border-radius: 90px;
          color: #000;
        }
      }
    }
    .companies_flex_right {
      width: 45%;
      .company_img {
        width: 100%;
        height: 300px;
        border-radius: 9px;
      }
    }
  }
}

.testimonials {
  padding: 50px 0;
  border-bottom: 1px solid #fff;
  .underline {
    width: 23%;
    // background-color: blueviolet;
    // height: 5px;
    // margin: 0px auto 50px auto;
    // border-radius: 10px;
  }
  .testimonials_container {
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 25%;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    // border-top-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    .card_bg {
      background-color: blueviolet;
      border-radius: 20px;
      // border-top-right-radius: 20px;
      // border-bottom-left-radius: 20px;
      text-align: center;
      padding: 10px 10px 20px 10px;
      .icon {
        font-size: 90px;
        margin: -60px auto 10px auto;
        background-color: #fff;
        color: #000;
        padding: 20px;
        border-radius: 47px;
      }
    }
  }
}

.companies_testimonials {
  .underline {
    margin: 0px auto 20px auto;
    width: 28%;
  }
  .companies_testimonials_container {
    display: flex;
    justify-content: space-between;
    .card {
      .card_bg {
        display: flex;
        column-gap: 15px;
        padding: 25px 20px;
        text-align: left;
        .icon_div {
          // width: 10%;
          display: flex;
          align-items: center;
          .icon {
            font-size: 80px;
            margin: 0px;
            background-color: unset;
            color: #000;
            padding: 0px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

.cater {
  text-align: center;
  .catericons {
    display: inline-flex;
    column-gap: 70px;
    justify-content: center;
    .icon {
      font-size: 90px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }
  }
}

@include res-smalltablet {
  .course_tabs {
    .tabs {
      width: 95%;
      column-gap: 20px !important;
      flex-wrap: wrap !important;
      button {
        margin-bottom: 15px;
      }
      .active,
      .inactive {
        padding: 5px 10px;
        // width: 150px;
        height: 37px;
      }
    }
    .underline {
      width: 67% !important;
    }
  }
}
