@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-primay: #fff;
$body-bg-color: #000;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 720px;
$mobile-breakpoint: 540px;
$h1-font: 40px;
$h2-font: 30px;
$h3-font: 25px;
$h5-font: 20px;
$p-font: 16px;

@mixin res-desktop {
  @media only screen and (min-width: ($desktop-breakpoint+1px)) {
    @content;
  }
}
@mixin res-tablet {
  @media only screen and (max-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin res-smalltablet {
  @media only screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin res-mobile {
  @media only screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin pwa {
  // for PWA, if we make one in the future.
  // displays content only in PWA app, and not in browsers (desktop and mobile)
  @media all and (display-mode: standalone) {
    @content;
  }
}

// @include res-tablet{

// }

.body {
  background-color: gray;
  color: #fff;
  p {
    font-size: $p-font;
    font-weight: 300;
    letter-spacing: 0.6px;
  }
  h1 {
    font-size: $h1-font;
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: 0.3px;
  }
  h2 {
    font-size: $h2-font;
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: 0.3px;
  }
  h3 {
    font-size: $h3-font;
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: 0.3px;
  }
  h5 {
    font-size: $h5-font;
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: 0.3px;
  }
  .inner_container {
    // border: 1px solid #fff;
    width: 90%;
    margin: 0 auto;
  }
  .underline {
    width: 18%;
    // background-color: blueviolet;
    background-color: orangered;
    height: 5px;
    margin: 0px auto 50px auto;
    border-radius: 10px;
  }
}
